<div *ngIf="langue === 'fr'">
  <p>&nbsp; Erreur de connexion au serveur :</p>
  <p>&nbsp; Merci de vérifiez votre connexion internet </p>
  <p>&nbsp; Vous pouvez envoyer un message à Nicolas Barrat via
    <a href='https://m.me/nicolegrimpeur' title='Lien vers le compte messenger de Nicolas' target='_blank'>Messenger</a>
    ou au
    <a href='sms:07.81.70.66.63' title='Envoyer un message à Nicolas' target='_blank'>07.81.70.66.63</a>
    pour toute information supplémentaire
  </p>
</div>

<div *ngIf="langue === 'en'">
  <p>&nbsp; Server connection error :</p>
  <p>&nbsp; Please check your internet connection </p>
  <p>&nbsp; You can send a message to Nicolas Barrat via
    <a href='https://m.me/nicolegrimpeur' title='Lien vers le compte messenger de Nicolas' target='_blank'>Messenger</a>
    or at
    <a href='sms:07.81.70.66.63' title='Envoyer un message à Nicolas' target='_blank'>07.81.70.66.63</a>
    for further information
  </p>
</div>
