<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/residences"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Résidence Saint-Omer
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <header class="masthead">
    </header>
  </div>

  <!--Liste des émojis : https://www.w3schools.com/charsets/ref_emoji.asp -->
  <!-- https://icones8.fr/icons -->
  <p> &nbsp; 💖 Nouveautés : Ajout d'informations concernant les restos U 🤤 </p>
  <br>
  <p> &nbsp; Pour afficher les informations recherchées, il vous suffit de cliquer sur le bouton correspondant ⬇ </p>
  <br>

  <!--ajout de la barre lien-->
  <ion-title> &nbsp; Liens 📝</ion-title>
  <div id="liens">
    <div name="Liens">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" color="medium" id="laverie">Plannings</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" color="medium" id="ucopia">ucopia</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!--      <label ngbButtonLabel class="btn btn-secondary" id="laverie">-->
      <!--        <input ngbButton type="radio"> Plannings-->
      <!--      </label>-->
      <!--      <label ngbButtonLabel class="btn btn-secondary" id="ucopia">-->
      <!--        <input ngbButton type="radio"> Ucopia-->
      <!--      </label>-->
    </div>

    <div id="div_liens">
    </div>
  </div>

  <section></section>

  <!--ajout de la barre infos en 2 lignes-->
  <h5> &nbsp; Infos 📣 </h5>
  <div id="infos">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-button expand="block" color="medium" id="responsables">Les responsables</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="block" color="medium" id="evenements">Événements</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="block" color="medium" id="covid">COVID</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-button expand="block" color="medium" id="petit_dej">Le petit déjeuner</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="block" color="medium" id="5eme">La salle loisir</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="block" color="medium" id="colis">Colis</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="medium" id="ru">Le Restaurant Universitaire</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div id="div_infos">

    </div>
  </div>

</ion-content>
