<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/residences"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Résidence Saint-Omer
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <header class="masthead">
    </header>
  </div>

  <!--Liste des émojis : https://www.w3schools.com/charsets/ref_emoji.asp -->
  <!-- https://icones8.fr/icons -->
  <p> &nbsp; 💖 Nouveautés : Ajout d'informations concernant les restos U 🤤 </p>
  <p> &nbsp; Pour afficher les informations recherchées, il vous suffit de cliquer sur le bouton correspondant ⬇ </p>
  <br>

  <!--ajout de la barre lien-->
  <ion-title> Liens 📝</ion-title>
  <div id="liensSTO">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let lien of json.liens">
          <app-btn-list [id]="lien.id" [content]="lien.content"
                        [idAffichage]="[json.idAffichage.liens, json.idAffichage.infos]"></app-btn-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div id="div_liensSTO">
    </div>
  </div>

  <section></section>

  <!--ajout de la barre infos -->
  <ion-title> Infos 📣</ion-title>
  <div id="infosSTO">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let info of json.infos">
          <app-btn-list [id]="info.id" [content]="info.content"
                        [idAffichage]="[json.idAffichage.infos, json.idAffichage.liens]"></app-btn-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div id="div_infosSTO">
    </div>
  </div>

  <ion-item-divider></ion-item-divider>

  <div style="text-align: center">
    <ion-button title="Lien vers le groupe facebook de la résidence" target="_blank"
                href="https://www.facebook.com/groups/sto.2020.2021"
                color="medium" shape="round" fill="clear" size="large">
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
  </div>
</ion-content>
