<ion-header>
  <ion-toolbar>
    <!-- bouton de retour en arrière -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="residences"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Résidence Saint-Omer
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- slide refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- image de fond -->
  <ion-header class="masthead"></ion-header>

  <!--Liste des émojis : https://www.w3schools.com/charsets/ref_emoji.asp -->
  <!-- https://icones8.fr/icons -->
  <p *ngFor="let news of json.news"> &nbsp; {{ news }} </p>
  <br>

  <!--ajout de la barre lien-->
  <ion-title> {{json.nameLiens}} 📝 </ion-title>

  <!-- barre d'erreur si on a pas de connexion -->
  <app-erreur-connexion *ngIf="!json.constructor.length"></app-erreur-connexion>

  <!-- div contenant les barres et le texte -->
  <div id="liensSTO">
    <ion-grid>
      <ion-row>
        <!-- ajout des barres en fonction du json -->
        <ion-col *ngFor="let lien of json.liens">
          <app-btn-list [id]="lien.id" [content]="lien.content"
                        [idAffichage]="[json.idAffichage.liens, json.idAffichage.infos]"></app-btn-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div id="div_liensSTO">
    </div>
  </div>
  <br>

  <!--ajout de la barre infos -->
  <ion-title> {{json.nameInfos}} 📣 </ion-title>

  <!-- barre d'erreur si on a pas de connexion -->
  <app-erreur-connexion *ngIf="!json.constructor.length"></app-erreur-connexion>

  <!-- div contenant les barres et le texte -->
  <div id="infosSTO">
    <ion-grid>
      <ion-row>
        <!-- ajout des barres en fonction du json -->
        <ion-col *ngFor="let info of json.infos">
          <app-btn-list [id]="info.id" [content]="info.content"
                        [idAffichage]="[json.idAffichage.infos, json.idAffichage.liens]"></app-btn-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div id="div_infosSTO">
    </div>
  </div>

  <ion-item-divider></ion-item-divider>

  <!-- infos résidence sto -->
  <ion-grid>
    <ion-row style="text-align: center">
      <ion-col *ngFor="let colInfo of json.colInfo">
        <app-col-info [title]="colInfo.title" [info1]="colInfo.info1" [info2]="colInfo.info2">
        </app-col-info>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- bulles boutons -->
  <div style="text-align: center">
    <app-bulles-lien *ngFor="let bullesLien of json.bullesLien"
                     [title]="bullesLien.title" [href]="bullesLien.href" [logo]="bullesLien.logo">
    </app-bulles-lien>
  </div>

</ion-content>
