<ion-header>
  <ion-toolbar id="header">
    <ion-thumbnail id="logo">
      <ion-img src="./assets/image/logoAll.png"></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- slide refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Fond d'écran de l'accueil -->
  <ion-header class="masthead"></ion-header>

  <!--Liste des émojis : https://www.w3schools.com/charsets/ref_emoji.asp -->
  <!-- https://icones8.fr/icons -->
  <p> &nbsp; {{json.news}} </p>
  <p> &nbsp; Pour afficher les informations recherchées, il vous suffit de cliquer sur le bouton correspondant ⬇ </p>
  <br>

  <ion-title>Infos 📝</ion-title>

  <!-- barre d'erreur si on a pas réussi à récupérer le json -->
  <app-erreur-connexion *ngIf="!json.constructor.length"></app-erreur-connexion>

  <div id="infosAll">
    <ion-grid>
      <ion-row>
        <!-- ajout des barres en fonction du json -->
        <ion-col *ngFor="let info of json.infos">
          <app-btn-list [id]="info.id" [content]="info.content"
                        [idAffichage]="[json.idAffichage.infos, json.idAffichage.liens]">
          </app-btn-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div id="div_infosAll">
    </div>
  </div>

  <ion-item-divider></ion-item-divider>

  <!-- infos du all -->
  <ion-grid>
    <ion-row style="text-align: center">
      <ion-col *ngFor="let colInfo of json.colInfo">
        <app-col-info [title]="colInfo.title" [info1]="colInfo.info1" [info2]="colInfo.info2">
        </app-col-info>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- bulles boutons -->
  <div style="text-align: center">
    <app-bulles-lien *ngFor="let bullesLien of json.bullesLien"
                     [title]="bullesLien.title" [href]="bullesLien.href" [logo]="bullesLien.logo">
    </app-bulles-lien>
  </div>

  <section></section>
</ion-content>
