<ion-header>
  <ion-toolbar id="header">
    <ion-thumbnail id="logo">
      <ion-img src="../../assets/image/logoAll.png"></ion-img>
    </ion-thumbnail>
    <!--        <ion-thumbnail id="gif">-->
    <!--          <ion-img style="border-radius: 10%" src="../../assets/gif/logoAll.gif"></ion-img>-->
    <!--        </ion-thumbnail>-->

  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Fond d'écran de l'accueil -->
  <div>
    <header class="masthead">
    </header>
  </div>


  <!--Liste des émojis : https://www.w3schools.com/charsets/ref_emoji.asp -->
  <!-- https://icones8.fr/icons -->
  <p> &nbsp; 💖 Nouveautés : Application mobile disponible + ajout des autres résidences </p>
  <p> &nbsp; Pour afficher les informations recherchées, il vous suffit de cliquer sur le bouton correspondant ⬇ </p>
  <br>

  <!--  <ion-title *ngIf="json.infos.length !== 0"> Infos 📝 </ion-title>-->
  <ion-title> Infos 📝</ion-title>
  <div id="infosAll">
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let info of json.infos">
          <app-btn-list [id]="info.id" [text]="info.content"></app-btn-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div id="div_infosAll">
    </div>
  </div>
</ion-content>
