<ion-header>
  <ion-toolbar>
    <ion-title>Choisis ta résidence</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- liste des résidences -->
  <br>
  <ion-button expand="block" color="medium" routerLink="/sto">Saint-Omer</ion-button>
</ion-content>

<!--
<ion-footer>
  <ion-segment value={{this.langue}} (ionChange)="changeLangue($event)">
    <ion-segment-button value="fr">
      <label>Français</label>
    </ion-segment-button>
    <ion-segment-button value="en">
      <label>Anglais</label>
    </ion-segment-button>
  </ion-segment>

  <section></section>
</ion-footer>
-->
