<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="langue === 'fr'">Choisis ta résidence</ion-title>
    <ion-title *ngIf="langue === 'en'">Choose your residence</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- liste des résidences -->
  <ion-button expand="block" color="medium" routerLink="/sto">Saint-Omer</ion-button>
  <ion-button expand="block" color="medium" routerLink="/dr">Denis Reille</ion-button>
</ion-content>

<ion-footer>
  <p *ngIf="langue === 'fr'" style="text-align: center">
    Si votre résidence n'apparait pas,
    envoyez un message à votre/vos responsable(s) de résidence en lui disant de contacter Nicolas Barrat via
    <a href='https://m.me/nicolegrimpeur' title='Lien vers le compte messenger de Nicolas' target='_blank'>Messenger</a>
    ou au
    <a href='sms:07.81.70.66.63' title='Envoyer un message à Nicolas' target='_blank'>07.81.70.66.63</a>
  </p>

  <p *ngIf="langue === 'en'" style="text-align: center">
    If your residence does not appear,
    send a message to your residence referrer(s) telling them to contact Nicolas Barrat via
    <a href='https://m.me/nicolegrimpeur' title='Lien vers le compte messenger de Nicolas' target='_blank'>Messenger</a>
    or at
    <a href='sms:07.81.70.66.63' title='Envoyer un message à Nicolas' target='_blank'>07.81.70.66.63</a>
  </p>

  <!-- switch de la langue -->
  <br>
  <ion-segment *ngIf="status.connected" value={{this.langue}} (ionChange)="changeLangue($event)">
    <ion-segment-button value="fr">
      <label *ngIf="langue === 'fr'">Français</label>
      <label *ngIf="langue === 'en'">French</label>
    </ion-segment-button>
    <ion-segment-button value="en">
      <label *ngIf="langue === 'fr'">Anglais</label>
      <label *ngIf="langue === 'en'">English</label>
    </ion-segment-button>
  </ion-segment>
  <section></section>
</ion-footer>

